.scrolling-wrapper {
    overflow-x: auto;
}
.scrolling-wrapper .DepartureDate_Filter{
    flex: 0 0 auto;
    font-size:  0.8rem;
    line-height: 1rem;
}
.scrolling-wrapper .DepartureDate_Filter .date{
    font-size: 0.8rem;
    
}
.scrolling-wrapper .DepartureDate_Filter.active{
    background-color: #ffe6cf;
    border-radius: 12px;
    color: #ed6d12;
}
.calendarIcon i{
    font-size: 1.3rem;
    margin-top: 14px;
}
.selected_box{
    font-size: 0.85rem;
}